* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #F7F7F7;
}
.navbar
{ 

background-color: #FFFFFF;
font-weight: bold;
display: flex;
align-items: center;
column-gap: 10px;
margin-bottom: 25px;
font-size: 37px;
height: 80px;
border: 2px solid #7B7B7B29;
}
.bls{
  color: #00A5EC;
}
.add-plus
{
  color: #00A5EC;
}

.add-new-task
{
  color: #000;
}
.main-container
{
  border: 1px solid #6767675d;
  height: 290px;
  width: 295px;
  background-color: white;
  border-radius: 10px;  
 
}

.main-container h3 {
  padding-top: 10px;
  padding-bottom: 20px;
  /* margin-bottom: 10px; */
  font-size: 19px;
  text-align: center;
  color: #00A5EC;
}



.main-div
{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 58px;
  /* row-gap: 70px; */
}
.parent-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-div
{
  font-size: 22px;  
}

.para
{
  color: black;
}


input{
  height: 19px;
  width: 19px;

}

.back-side
{
  font-size: 22px;
 
}
.checkbox-main
{
text-decoration: line-through; 
}


a{
  text-decoration: none;
}
.outer-checkbox
{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 17px;
}
@media screen and (max-width:500px)
{
  .main-container{
      flex-direction: column;
     
}
.add-new-task
{
visibility: hidden;
} 
}


.opacity {
  background-color: black;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  
}
.outer-div {
  border: 1px solid black;
  border-radius: 10px;
  width: 320px;
  height: 320px;
  position: absolute;
  top: 22%;
  left: 40%;
  background-color: white;
  
}
.inner-div {
  display: flex;
  align-items: center;
  /* justify-content: space-around;
  column-gap: 80px; */
 
}
.add-new-item {
  position: relative;
  left: 10px;
  font-weight: bold;

}

.add-new-item p {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-size: 19px;
  text-align: center;
  /* color: #00A5EC; */
}
.back-index {
  font-size: 27px;
  position: absolute;
  right: 10px;
  top: 9px;
 
}
.ipt {
  width: 92%;
  position: relative;
  left: 12px;
  padding-left: 6px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
button {
  background-color: #00a5ec;
  border:  #00a5ec;
  padding: 12px;
  width: 42%;
  border-radius: 10px;
  position: absolute;
  bottom: 28px;
  right: 18px;
  color: white;
}

@media screen and (max-width: 500px) {
  .main-container{
    flex-direction: column;
   
}
    .add-new-task {
      visibility: hidden;
    }
    .outer-div {
      left: 10%;
      width: 73%;
      
    }
  }
